# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Database
db.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Static files
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db